services:
  audio-emotion-download:
    image: audio-emotion:latest
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile

    volumes:
      - ${HOME}/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data

    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle

    command: uv run audio-emotion download --output-dir data/raw/audio-emotions


  audio-emotion-train:
    image: audio-emotion:latest
    shm_size: "8gb"

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility

    volumes:
      - ${HOME}/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs
      - ./outputs:/app/outputs

    command: uv run audio-emotion-train
