services:
  audio-emotion-download:
    image: train:latest

    volumes:
      - /home/skole/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
      - .:/app

    working_dir: /app

    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle

    command: >
      bash -c "
      pip install --no-cache-dir uv &&
      uv pip install --system --no-cache-dir . &&
      python -m audio_emotion download --output-dir data/raw/audio-emotions
      "
