services:
  audio-emotion-download:
    image: audio-emotion:train
    build: &build_train
      context: .
      dockerfile: dockerfiles/train.dockerfile
      args:
        UV_GROUPS: "--group train"
        UV_VERSION: "0.9.26"
    volumes:
      - ${HOME}/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle
    command: uv run --frozen audio-emotion download --output-dir data/raw/audio-emotions

  audio-emotion-train-cpu:
    image: audio-emotion:train
    build: *build_train
    profiles: ["cpu"]
    shm_size: "8gb"
    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle
    volumes:
      - ${HOME}/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs
      - ./outputs:/app/outputs
    command: uv run --frozen audio-emotion-train

  audio-emotion-train-gpu:
    image: audio-emotion:train-gpu
    # Force amd64 so torch+cu117 wheels resolve/install correctly
    platform: linux/amd64
    build: *build_train
    profiles: ["gpu"]
    shm_size: "8gb"
    gpus: all
    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle
    volumes:
      - ${HOME}/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs
      - ./outputs:/app/outputs
    command: uv run --frozen audio-emotion-train

  audio-emotion-train-profile-gpu:
    image: audio-emotion:train-gpu
    platform: linux/amd64
    build: *build_train
    profiles: ["gpu", "profile"]
    shm_size: "8gb"
    gpus: all
    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle
    volumes:
      - ${HOME}/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs
      - ./outputs:/app/outputs
      - ./profiles:/app/profiles
    command: uv run --frozen python -m cProfile -o /app/profiles/audio_emotion_train.prof -m audio_emotion.train
