services:
  audio-emotion-download:
    image: audio-emotion:latest
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile

    volumes:
      - ~/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data

    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle

    command: uv run audio-emotion download --output-dir data/raw/audio-emotions


  audio-emotion-train:
    image: audio-emotion:latest

    volumes:
      - ~/.kaggle/kaggle.json:/root/.kaggle/kaggle.json:ro
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs

    environment:
      KAGGLE_CONFIG_DIR: /root/.kaggle

    command: uv run audio-emotion-train
