[build-system]
requires = ["uv_build>=0.9.22,<0.10.0"]
build-backend = "uv_build"

[project]
name = "audio_emotion"
version = "0.0.1"
description = "Audio emotion recognition using deep learning"
authors = [
  { name = "group3", email = "your@email.com" },
]
license = { file = "LICENSE" }
keywords = ["machine learning", "audio", "emotion", "pytorch"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Programming Language :: Python :: 3",
]
readme = "README.md"
requires-python = ">=3.12,<3.13"

dependencies = [
    "numpy<2",
    "fastapi==0.115.6",
    "hydra-core>=1.3.2",
    "kaggle>=1.8.3",
    "kagglehub>=0.4.0",
    "librosa>=0.11.0",
    "loguru>=0.7.3",
    "matplotlib>=3.10.8",
    "soundfile>=0.13.1",

    # PyTorch GPU (CUDA 12.1)
    "torch==2.0.1+cu117",
    "torchaudio==2.0.2+cu117",

    "typer==0.15.1",
    "uvicorn==0.34.0",
]

[project.scripts]
audio-emotion = "audio_emotion.cli:app"
audio-emotion-train = "audio_emotion.train:app"

[dependency-groups]
dev = [
    "coverage==7.6.9",
    "invoke==2.2.0",
    "mkdocs-material==9.4.6",
    "mkdocs==1.6.1",
    "pre-commit==4.1.0",
    "pytest==8.3.4",
    "ruff==0.1.3",
    "mkdocstrings-python==1.12.2",
    "snakeviz>=2.2.2",
]

[[tool.uv.index]]
name = "pytorch-cu117"
url = "https://download.pytorch.org/whl/cu117"
explicit = true

[tool.uv.sources]
torch = [{ index = "pytorch-cu117" }]
torchaudio = [{ index = "pytorch-cu117" }]

[tool.ruff]
line-length = 120

[tool.coverage.run]
omit = ["tests/*"]
