name: Pre-commit auto-update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.11"

      - name: Create virtual environment
        run: uv venv

      - name: Install pre-commit
        run: uv pip install pre-commit

      - name: Run pre-commit autoupdate
        run: |
          uv run pre-commit autoupdate --config .pre-commit-config.yaml
          git status --porcelain

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-autoupdate
          delete-branch: true
          title: "Auto-update pre-commit hooks"
          commit-message: "Auto-update pre-commit hooks"
          body: "Update versions of tools in pre-commit configs to latest version"
          labels: dependencies
          add-paths: |
            .pre-commit-config.yaml
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
